/*Style to over right from foundation*/

.width_625 {
    margin-top: 100px;
    max-width:62.5em;
	padding-top: 50px;
}

.width_825 {
    max-width:82.5em;
}

.row {
    padding-left: 1em;
    padding-right: 1em;
}

.top-bar {
    background: #009fe3;
    height: 75px;
}

.top-bar-section ul li > a {
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
    background: #009fe3;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: #009fe3;
    line-height: 75px;
}

.top-bar-section li:not(.has-form) a:not(.button):hover
{
    background: #FFF;
    color: #009fe3;
}

.top-bar.expanded .title-area {
    background-color: #FFF;
}

.top-bar-section .right {
    margin-right: 5rem;
}

@media only screen and (max-width: 40em) { 
    
    .top-bar-section .right {
        margin-right: 0rem;
    }
    
    .top-bar {
        height: 45px !important;
    }
    
    .top-bar.expanded {
        height: auto !important;
    }
    
    .top-bar-section li:not(.has-form) a:not(.button) {
        line-height: 45px;
    }

    
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */